.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 85%;
}

.dashboardContainer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  color: green;
  width: 100%;
}

.dashboardContainer__header > h2 {
  margin-left: 40px;
}

.dashboardContainer__header > a {
  margin-right: 40px;
  padding: 4px 8px;
  color: white;
  border-radius: 5px;
  font-size: 19px;
  background-color: green;
  transition: all 0.3s ease;
}

.dashboardContainer__header > a:hover {
  background-color: rgb(11, 172, 11);
}

.dashboardContainer__clientsAndProjects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  width: 100%;
}

.dashboardContainer__clientsAndProjects-clients,
.dashboardContainer__clientsAndProjects-projects {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 135px;
  width: 270px;
  background-color: var(--verde-pastel);
  padding: 20px;
  border-radius: 10px;
}

.dashboardContainer__clientsAndProjects-clients > h3,
.dashboardContainer__clientsAndProjects-projects > h3 {
  color: green;
  font-size: 25px;
}

.dashboardContainer__clientsAndProjects-clients > p,
.dashboardContainer__clientsAndProjects-projects > p {
  color: green;
  font-weight: bolder;
  font-size: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.dashboardContainer__recentProjects-title {
  font-size: 32px;
  color: green;
  margin-left: 40px;
}
