:root {
  --verde-menta: #a8e6cf;
  --verde-pastel: #d0f0e0;
  --verde: rgb(12, 226, 12);
  --verde-suave: #88d8b0;
  --blanco-verdoso: #f0fff9;
  --gris-verdoso: #b2cfc6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  background-color: var(--blanco-verdoso);
}
